// Background colors
.bg-gray-200 { background-color: #222222; }
.bg-purple-200 { background-color: #e9d8fd; }
.bg-green-200 { background-color: #c6f6d5; }
.bg-blue-200 { background-color: #bee3f8; }


// Opacity

// Foreground colors
.fg-white-900 { color: #eeeeee; }
.fg-gray-200{ color: #222222; }

// Padding
.px-10 { padding: 0px 10px; }
.px-5 { padding: 0px 5px; }


